<section class="main-title">
    <div class="grid-container width-container">
        <div>
            <h1>
                Realiza peticiones sobre problemas presentes en la comunidad y dales seguimiento.
            </h1>

            <div class="buttons">
                <a class="login-button" color="primary" mat-flat-button>Inicia sesión</a>
                <a class="signup-button" color="primary" mat-flat-button>Regístrate</a>
            </div>
        </div>

        <mat-icon svgIcon="landing-art"></mat-icon>
    </div>
</section>

<svg height="0" width="0" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <clipPath clipPathUnits="objectBoundingBox" id="rounded-section">>
            <path d="M338.261,1205.38a654.227,654.227,0,0,1-75.658-4.37,629.041,629.041,0,0,1-67.009-11.525,595.491,595.491,0,0,1-106.3-34.973c-13.219-5.8-26.139-12.086-38.4-18.679-9.809-5.274-19.222-10.756-27.979-16.295A266.492,266.492,0,0,1,0,1103.641V0H1366V1150.414a403.728,403.728,0,0,0-22.12-33.83c-8.445-11.785-17.52-23.452-26.971-34.676-11.815-14.031-24.254-27.4-36.973-39.751-32.378-31.427-66.743-56.468-102.142-74.426-44.249-22.448-90.247-33.83-136.715-33.83h-.821c-48.107.517-88.048,3.387-122.105,8.772-31.577,4.993-58.386,12.224-81.957,22.106a264.7,264.7,0,0,0-58.354,33.887c-17.355,13.086-33.841,28.156-51.294,44.112l0,0-.014.013c-4.861,4.443-9.887,9.038-15.067,13.716a239.4,239.4,0,0,1-26.408,27.558,338.309,338.309,0,0,1-33.581,26.326,440.353,440.353,0,0,1-39.917,24.431c-14.345,7.8-29.626,15.155-45.417,21.873a612.416,612.416,0,0,1-103.985,33.415,628.628,628.628,0,0,1-115.941,15.219C343.585,1205.364,340.91,1205.38,338.261,1205.38Z"
                  data-name="Path 996"
                  transform="scale(0.0007320644217, 0.0008591212907) translate(1366 1205.38) rotate(180)"/>
        </clipPath>
    </defs>
</svg>


<section class="main-index">
    <div class="grid-container width-container">
        <div class="info">
            <h1>
                Ingresa al portal de tu plantel
            </h1>

            <p>
                Cualquier persona puede visualizar el contenido del sitio. Sin embargo, para realizar peticiones y
                votar en ellas deberás registrarte con tu correo institucional.
            </p>
        </div>

        <div class="links">
            <div>
                <h3>Bachillerato</h3>
                <button [matMenuTriggerFor]="enp" mat-flat-button>ENP</button>
                <mat-menu #enp>
                    <a>Moris</a>
                </mat-menu>

                <button [matMenuTriggerFor]="cch" mat-flat-button>CCH</button>
                <mat-menu #cch>
                    <a>Moris</a>
                </mat-menu>
            </div>

            <div>
                <h3>Licenciatura</h3>

                <button [matMenuTriggerFor]="faculties" mat-flat-button>Facultades</button>
                <mat-menu #faculties>
                    <a>Moris</a>
                </mat-menu>

                <button [matMenuTriggerFor]="schools" mat-flat-button>Escuelas</button>
                <mat-menu #schools>
                    <a>Moris</a>
                </mat-menu>
            </div>
        </div>

    </div>
</section>

<section class="how-it-works">
    <div class="grid-container width-container">
        Hola broder
    </div>
</section>
