<section class="main-title">
    <div class="grid-container width-container">
        <div>
            <h1>
                Realiza peticiones sobre problemas presentes en la comunidad y dales seguimiento.
            </h1>

            <div class="buttons">
                <a class="login-button" color="primary" mat-flat-button>Inicia sesión</a>
                <a class="signup-button" color="primary" mat-flat-button>Regístrate</a>
            </div>
        </div>

        <mat-icon svgIcon="landing-art"></mat-icon>
    </div>
</section>


<section class="main-index">
    <div class="grid-container width-container">
        <div>
            <h1>
                Ingresa al portal de tu plantel
            </h1>

            <p>
                Cualquier persona puede visualizar el contenido del sitio. Sin embargo, para realizar peticiones y
                votar en ellas deberás registrarte con tu correo institucional.
            </p>
        </div>

        <div>
            <div>
                <h3>Bachillerato</h3>
                <mat-select></mat-select>
            </div>

            <div>
                <h3>Licenciatura</h3>
                <mat-select></mat-select>
            </div>
        </div>

    </div>
</section>


