<section class="main-title">
    <div class="grid-container width-container">
        <div>
            <h1>
                Realiza peticiones sobre problemas presentes en la comunidad y dales seguimiento.
            </h1>

            <div class="buttons">
                <a class="login-button" color="primary" mat-flat-button>Inicia sesión</a>
                <a class="signup-button" color="primary" mat-flat-button>Regístrate</a>
            </div>
        </div>

        <mat-icon svgIcon="landing-art"></mat-icon>
    </div>
</section>

<section class="main-index">
    <div class="grid-container width-container">
        <div class="info">
            <h1>
                Ingresa al portal de tu plantel
            </h1>

            <p>
                Cualquier persona puede visualizar el contenido del sitio. Sin embargo, para realizar peticiones y
                votar en ellas deberás registrarte con tu correo institucional.
            </p>
        </div>

        <div class="links">
            <div>
                <h3>Bachillerato</h3>
                <button [matMenuTriggerFor]="enp" mat-flat-button>ENP</button>
                <mat-menu #enp>
                    <a>Moris</a>
                </mat-menu>

                <button [matMenuTriggerFor]="cch" mat-flat-button>CCH</button>
                <mat-menu #cch>
                    <a>Moris</a>
                </mat-menu>
            </div>

            <div>
                <h3>Licenciatura</h3>

                <button [matMenuTriggerFor]="faculties" mat-flat-button>Facultades</button>
                <mat-menu #faculties>
                    <a>Moris</a>
                </mat-menu>

                <button [matMenuTriggerFor]="schools" mat-flat-button>Escuelas</button>
                <mat-menu #schools>
                    <a>Moris</a>
                </mat-menu>
            </div>
        </div>

    </div>
</section>

<section class="how-it-works">
    <div class="grid-container width-container">
        <div>
            <h2>¿Para qué sirve?</h2>
            <p>El objetivo de este sitio es proporcionar a los miembros de la comunidad universitaria un espacio libre
                para
                expresar sus ideas y opiniones respecto a los problemas presentes en la institución.
                Podrás realizar peticiones sobre algún problema que identifiques y consideres importante.
                Posteriormente,
                las autoridades pertinentes se encargarán de darle seguimiento y resolverlo.</p>
        </div>
    </div>
</section>
