.navbar {
    display: flex;
    justify-content: space-between;
}

.logo-and-title {
    display: flex;
}

.petition-logo {
    height: auto;
    width: 2rem;
    fill: #FFA62B;
    margin-right: 0.5em;
}
