<aside class="sidenav-container">
    <header class="logo">
        <mat-icon class="petition-icon" svgIcon="petition-icon"></mat-icon>
        <h1>Peticiones</h1>
    </header>
    <section class="school-names-container">
        <app-school-group [schoolEnum]="faculties" title="Facultades"></app-school-group>
        <app-school-group [schoolEnum]="enps" title="ENP"></app-school-group>
        <app-school-group [schoolEnum]="cchs" title="CCH"></app-school-group>
        <app-school-group [schoolEnum]="schools" title="Escuelas"></app-school-group>
    </section>
</aside>
